---
import { getImageUrl } from "./../../../typescript/functions/media_plugin";
import type { TwoColumnWithImage } from "./../../../typescript/types/components";
import { TwoColumnOrientation } from "./../../../typescript/types/components";
import EditorContent from "./../../richtext_editor/EditorContent.astro";
import { Img } from "astro-imagetools/components";

interface Props {
    data: TwoColumnWithImage;
}

const { data } = Astro.props;

const blocks = JSON.parse(data.content).blocks;
---

{
    () => {
        if (data.image_column == TwoColumnOrientation.left) {
            return (
                <div class="grid max-w-6xl grid-cols-1 gap-8 px-4 mx-auto lg:grid-cols-2">
                    <Img
                        src={getImageUrl(data.image)}
                        alt="advantage_item"
                        placeholder="none"
                        width={500}
                    />

                    <div class="">
                        <EditorContent blocks={blocks} />
                    </div>
                </div>
            );
        } else {
            return (
                <div class="grid max-w-6xl grid-cols-1 gap-8 px-4 mx-auto lg:grid-cols-2">
                    <div>
                        <h2 class="mb-0 capitalize header-2">
                            {data.headline}
                        </h2>
                        <div>
                            <EditorContent blocks={blocks} />
                        </div>
                    </div>
                    <Img
                        src={getImageUrl(data.image)}
                        alt="advantage_item"
                        placeholder="none"
                        width={500}
                    />
                </div>
            );
        }
    }
}
