---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
import { getPost, getPosts } from "@typescript/strapiApi";
import type { ApiPostPost } from "@typescript/types/schemas";
import { strapiUploadsBaseUrl } from "@typescript/consts";
import Header from "@components/democomponents/Header.astro";
import Image from "@components/democomponents/Image.astro";
import Paragraph from "@components/democomponents/Paragraph.astro";

export async function getStaticPaths() {
    const posts = await getPosts();

    return posts.map((post: ApiPostPost) => ({
        params: { slug: post.attributes.slug },
    }));
}

const slug = Astro.params.slug;
const postItem = await getPost(slug as string);

const postAttributes = postItem.attributes;

const blocks = JSON.parse(postAttributes.content).blocks;
---

<Layout>
    <FancyBg />
    <Nav />
    <main class="flex flex-col min-h-screen gap-2 mx-auto lg:gap-16">
        <article class="flex flex-col max-w-2xl mx-auto text-left">
            <h1 class="blog-header mt-20">{postAttributes.title}</h1>
            <p>{postAttributes.excerpt}</p>
            {
                blocks.map((block: any) => {
                    switch (block.type) {
                        case "header":
                            return <Header text={block.data.text} />;

                        case "paragraph":
                            return <Paragraph text={block.data.text} />;

                        case "image":
                            return (
                                <Image
                                    src={
                                        strapiUploadsBaseUrl +
                                        block.data.file.url
                                    }
                                    caption={block.data.caption}
                                />
                            );

                        default:
                            <p>I am default</p>;
                            break;
                    }
                })
            }
        </article>
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
