---
import Hero from "@components/strapidynamic/layout/Hero.astro";
import Advantages from "@components/strapidynamic/layout/Advantages.astro";
import FAQ from "@components/strapidynamic/layout/FAQ.astro";
import Redirection from "@components/strapidynamic/layout/buttons/Redirection.astro";
import CTA from "@components/strapidynamic/layout/buttons/CTA.astro";
import Testimonials from "@components/strapidynamic/layout/Testimonials.astro";
import Editor from "@components/strapidynamic/layout/Editor.astro";
import CompanyList from "@components/strapidynamic/layout/CompanyList.astro";
import TwoColumnWithImage from "@components/strapidynamic/layout/TwoColumnWithImage.astro";
import TwoColumnWithEmbed from "@components/strapidynamic/layout/TwoColumnWithEmbed.astro";
import Embed from "@components/strapidynamic/layout/embed/Embed.astro";
import SimpleHeadline from "@components/strapidynamic/layout/SimpleHeadline.astro";
import Note from "@components/strapidynamic/layout/Note.astro";
import ContactForm from "@components/strapidynamic/layout/ContactForm.astro";

const { blocks } = Astro.props;
---

{
    blocks.map((component: any) => {
        switch (component.__component) {
            case "layout.hero":
                return <Hero data={component} />;

            case "layout.editor":
                return <Editor content={component.content} />;

            case "layout.advantages":
                return <Advantages data={component} />;

            case "layout.testimonials":
                return <Testimonials data={component} />;

            case "layout.faq":
                return <FAQ data={component} />;

            case "layout.redirect-button":
                return <Redirection data={component} />;

            case "layout.call-to-action":
                return <CTA data={component} />;

            case "layout.icon-list":
                return <CompanyList data={component} />;

            case "layout.two-column-section":
                return <TwoColumnWithImage data={component} />;

            case "layout.two-column-with-embed":
                return <TwoColumnWithEmbed data={component} />;

            case "layout.embed-video":
                return <Embed data={component} />;

            case "layout.simple-headline":
                return <SimpleHeadline data={component} />;

            case "layout.note":
                return <Note data={component} />;

            case "layout.contact-form":
                return <ContactForm data={component} />;

            default:
                console.log("-----------------");
                console.log(component);
                console.log("=================");
                return <p>Not implemented</p>;
        }
    })
}
