---
import { getImageUrl } from "@typescript/strapiApi";
import type { Testimonial } from "@components/strapidynamic/typescript/types";
import { Img } from "astro-imagetools/components";

interface Props {
    data: Testimonial;
}

const { data } = Astro.props;
---

<div class="border-t border-sky-200/50 p-4">
    <div class="flex-none p-8 pb-12 lg:flex lg:(p-0 pb-8)">
        <Img
            src={getImageUrl(data.image)}
            alt="testimonial_item"
            placeholder="none"
            width={300}
        />
    </div>
    <p class="text-base text-left">
        {data.company}
    </p>
    <p class="text-base text-left">
        {data.body}
    </p>
    <p class="text-base text-left">
        {data.name}
    </p>
    <p class="text-base text-left">
        {data.website}
    </p>
</div>
