---
import { getImageUrl } from "@typescript/strapiApi";
import type { Testimonial } from "@components/strapidynamic/typescript/types";
import { Img } from "astro-imagetools/components";

interface Props {
    data: Testimonial;
}

const { data } = Astro.props;
---

<div class="flex flex-col gap-4 p-4">
    <div class="mb overflow-hidden mx-auto rounded-lg w-[300px] h-[300px]">
        <Img
            src={getImageUrl(data.image)}
            alt="testimonial_item"
            placeholder="none"
            width={300}
            height={300}
            layout="cover"
            aspect={1}
        />
    </div>

    <div class="text-center">
        <p class="text-2xl font-semibold">
            {data.name}
        </p>
        <p class="text-base text-gray-400">
            <span class="pr-2">{data.company}</span>

            <span class="pl-2 border-l border-gray-300"> {data.website}</span>
        </p>
        <p class="text-base text-left"></p>
    </div>
    <p class="tracking-wide text-left text-md">
        {data.body}
    </p>
    <img class="mx-auto" width="150px" src="/src/assets/5stars.svg" />
</div>
