---
import { Img } from "astro-imagetools/components";

const { blok } = Astro.props;

// const {
//     alt = "descriptive text",
//     format = "avif",
//     title = "Tytuł komponentu AdvantageItem ...",
//     ...props
// } = Astro.props;

// if (blok.src === undefined || blok.src === null) {
//     console.error("Missing required 'src' attribute");
// }

// if (blok.width === undefined || blok.width === null) {
//     console.error("Missing required 'width' attribute");
// }
const blogbg = "/src/assets/bg6.jpg";

console.log("--------------------------------");
console.log(blok);
console.log("================================");

---

<div
    class="rounded-md flex flex-col bg-gray-800 transition-smooth shadow-2xl shadow-sky-900/20 relative hover:(transform scale-105)"
>
    <div class="bg-grid h-full w-full -z-1 absolute"></div>
    <a class="hover:text-sky-200/50" href={blok.slug}>
        <div class="h-64 w-full overflow-hidden">
            <Img
                src={blogbg}
                alt="blog-post-image"
                objectFit="fill"
                loading="eager"
                placeholder="blurred"
                objectPosition="50% 50%"
                sizes="(max-width: 500px) 350px, 600px"
            />
        </div>

        <div class="p-4 pb-8">
            <time class="text-sm text-gray-400/30 items-left">{blok.date}</time>
            <h2
                class="font-medium font-bold pb-2 text-2xl text-gray-100 capitalize"
            >
                {blok.title}
            </h2>
            <p class="max-w-md text-base text-left text-gray-300">
                {blok.description}
            </p>
        </div>
    </a>
</div>
