---
interface Props {
    title?: string;
    paragraph?: string;
    src?: string;
    number?: any;
}
const {
    title = "Jestem pytaniem, które ktoś mógłby zadać",
    paragraph = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in, recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio corporis earum similique! ",
    number = "1",
    src = "/src/assets/search.png",
} = Astro.props;
---

<div
    data-tilt
    data-tilt-max="2"
    data-tilt-speed="200"
    data-tilt-perspective="600"
    class="relative flex flex-col w-full h-64 rounded-lg element lg:h-84 bg-white/10 card schowaj"
>
    <div
        class="flex flex-col items-center justify-start px-2 py-4 element card-content"
    >
        <div class="pb-6">
            <img src={src} alt={title} width="200" height="200" />
        </div>
        <h2 class="mb-2 text-lg font-bold">{title}</h2>
        <p class="px-2 text-sm">
            {paragraph}
        </p>
    </div>
    <p class="top-0 left-0 text-[150px] outlined-text absolute">
        {number}
    </p>
</div>

<style>
    #cards {
        width: calc(100% - 20px);
    }

    #cards:hover > .card::after {
        opacity: 1;
    }
    .card {
        position: relative;
    }

    .card:hover::before {
        opacity: 1;
    }

    .card::before,
    .card::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }

    .card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 132, 255, 0.1),
            transparent 40%
        );

        z-index: 3;
    }

    .card::after {
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 183, 255, 0.4),
            transparent 40%
        );
        z-index: 1;
    }

    .card > .card-content {
        background-color: var(--card-color);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        inset: 1px;
        position: absolute;
        z-index: 2;
    }
</style>
