---
import { Img } from "astro-imagetools/components";
interface Props {
    title?: string;
    paragraph?: string;
    src?: string;
    number?: number;
    connect?: string;
    list1?: string;
    list2?: string;
    list3?: string;
}
const {
    title = "Jestem pytaniem, które ktoś mógłby zadać",
    paragraph = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in, recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio corporis earum similique! ",
    number = "1",
    src = "/src/assets/search.png",
    connect = "",
} = Astro.props;
---

<div class="mx-4">
    <div
        style="transform-style: preserve-3d"
        data-tilt
        data-tilt-axis="x"
        data-tilt-max="5"
        data-tilt-perspective="1000"
        data-tilt-speed="1000"
        class="relative flex w-full text-left rounded-lg shadow-xl border-1 border-sky-500/50 element h-128 lg:h-84 card lg:show-on-scroll"
    >
        <div
            class="grid items-center justify-start grid-cols-1 px-2 py-4 lg:grid-cols-2 element card-content"
        >
            <div class="px-4 lg:px-auto lg:pl-16">
                <h2 class="mb-2 text-4xl font-black">
                    {title}
                </h2>
                <p class="text-sm p-paragraph">
                    {paragraph}
                </p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div
                style="transform: translateZ(30px)"
                class="pb-6 mx-auto shadow-2xl"
            >
                <Img src={src} width={250} alt="descriptive text" />
            </div>
        </div>
        <p
            class="left-1 -top-17 lg:(left-2) lg:top-1 text-[100px] outlined-text absolute -z-10 lg:z-10"
        >
            {number}
        </p>
        <div
            class="absolute inset-0 rounded-lg animate-pulse bg-gradient-to-br from-indigo-500 via-teal-500 to-sky-500 bg-blur2 -z-1"
        >
        </div>
    </div>
    <div
        class=`w-6 h-20 mx-auto bg-gradient-to-b from-sky-900 via-sky-500 to-sky-900 show-on-scroll-alt ${connect}`
    >
    </div>
</div>

<style>
    #cards {
        width: calc(100% - 20px);
    }

    #cards:hover > .card::after {
        opacity: 1;
    }
    .card {
        position: relative;
    }

    .card::before,
    .card::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }

    .card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 132, 255, 0.1),
            transparent 40%
        );

        z-index: 3;
    }

    .card::after {
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 183, 255, 0.4),
            transparent 40%
        );
        z-index: 1;
    }

    .card > .card-content {
        background-color: var(--card-color2);
        border-radius: inherit;

        inset: 1px;
        position: absolute;
        z-index: 2;
    }
</style>
