---
interface Props {
    text: string;
    level: number;
}

const { text, level } = Astro.props;

function getHeader() {
    if (level == 1) {
        return `<h${level} class="capitalize header-1">${text}</h${level}>`;
    } else if (level == 2) {
        return `<h${level} class="capitalize header-2">${text}</h${level}>`;
    } else if (level == 3) {
        return `<h${level} class="capitalize header-3">${text}</h${level}>`;
    } else if (level <= 6) {
        return `<h${level} class="max-w-2xl mx-auto mt-10 mb-2 text-4xl font-bold capitalize">${text}</h${level}>`;
    } else {
        return `<h2 class="max-w-2xl mx-auto mt-10 mb-2 text-4xl capitalize">Invalid header value given</h2>`;
    }
}

const htmlString = getHeader();
---

<Fragment set:html={htmlString} />
