---
interface Props {
    text: string;
    level: number;
}

const { text, level } = Astro.props;

function getHeader() {
    if (level == 1) {
        return `<h${level} class="blog-header-1">${text}</h${level}>`;
    } else if (level == 2) {
        return `<h${level} class="blog-header-2">${text}</h${level}>`;
    } else if (level == 3) {
        return `<h${level} class="blog-header-3">${text}</h${level}>`;
    } else if (level == 4) {
        return `<h${level} class="blog-header-4">${text}</h${level}>`;
    } else {
        return `<h2 class="bg-red-500">Invalid header value given</h2>`;
    }
}

const htmlString = getHeader();
---

<Fragment set:html={htmlString} />
