---
import { getImageUrl } from "@typescript/strapiApi";
import type { TwoColumnWithImage } from "@components/strapidynamic/typescript/types";
import { TwoColumnOrientation } from "@components/strapidynamic/typescript/types";
import EditorContent from "@components/editorjs/EditorContent.astro";
import { Img } from "astro-imagetools/components";

interface Props {
    data: TwoColumnWithImage;
}

const { data } = Astro.props;

const blocks = JSON.parse(data.content).blocks;
---

{
    () => {
        if (data.image_column == TwoColumnOrientation.left) {
            return (
                <div>
                    <Img
                        src={getImageUrl(data.image)}
                        alt="advantage_item"
                        placeholder="none"
                        width={300}
                    />
                    <div>
                        <h2 class="font-medium text-left mb-2 text-2xl lg:h-12">
                            {data.headline}
                        </h2>
                        <EditorContent blocks={blocks} />
                    </div>
                </div>
            );
        } else {
            return (
                <div>
                    <div>
                        <h2 class="font-medium text-left mb-2 text-2xl lg:h-12">
                            {data.headline}
                        </h2>
                        <EditorContent blocks={blocks} />
                    </div>
                    <Img
                        src={getImageUrl(data.image)}
                        alt="advantage_item"
                        placeholder="none"
                        width={300}
                    />
                </div>
            );
        }
    }
}
