---
import type { TwoColumnWithEmbed } from "@components/strapidynamic/typescript/types";
import { TwoColumnOrientation } from "@components/strapidynamic/typescript/types";
import EditorContent from "@components/editorjs/EditorContent.astro";
import Embed from "@components/strapidynamic/layout/embed/Embed.astro";

interface Props {
    data: TwoColumnWithEmbed;
}

const { data } = Astro.props;

const blocks = JSON.parse(data.content).blocks;
---

{
    () => {
        if (data.embed_column == TwoColumnOrientation.left) {
            return (
                <div class="grid w-full max-w-6xl grid-cols-1 gap-8 px-4 mx-auto lg:grid-cols-2">
                    <div class="w-full">
                        <Embed data={data.embed} />
                    </div>
                    <div>
                        <h2 class="mb-0 capitalize header-2">
                            {data.headline}
                        </h2>
                        <div>
                            <EditorContent blocks={blocks} />
                        </div>
                    </div>
                </div>
            );
        } else {
            return (
                <div class="grid w-full max-w-6xl grid-cols-1 gap-8 px-4 mx-auto lg:grid-cols-2">
                    <>
                        <div>
                            <h2 class="mb-0 capitalize header-2">
                                {data.headline}
                            </h2>
                            <div>
                                <EditorContent blocks={blocks} />
                            </div>
                        </div>
                        <div class="w-full">
                            <Embed data={data.embed} />
                        </div>
                    </>
                </div>
            );
        }
    }
}
