---
import { Img } from "astro-imagetools/components";
import CardsElement from "./CardsElement.astro";

import seo from "@assets/advantages/seo.svg";
import retention from "@assets/advantages/retention.svg";
import bounce from "@assets/advantages/bounce.svg";
import activity from "@assets/advantages/activity.svg";
import time from "@assets/advantages/time.svg";
import adds from "@assets/advantages/adds.svg";
---

<script>
    document.getElementById("cards").onmousemove = (e) => {
        for (const card of document.getElementsByClassName("card")) {
            const rect = card.getBoundingClientRect(),
                x = e.clientX - rect.left,
                y = e.clientY - rect.top;

            // Obliczenie kąta nachylenia (w radianach) na podstawie pozycji myszy
            const angleRadians = Math.atan2(y, x);

            // Konwersja radianów na stopnie
            const angleDegrees = angleRadians * (180 / Math.PI);

            // Uaktualnienie wartości zmiennych CSS
            card.style.setProperty("--mouse-x", `${x}px`);
            card.style.setProperty("--mouse-y", `${y}px`);
            card.style.setProperty("--angle", `${angleDegrees}deg`);
        }
    };
</script>

<div class="grid w-full max-w-6xl grid-cols-3 gap-2 schowaj" id="cards">
    <CardsElement
        title="SEO"
        paragraph="Szybsze strony mają wyższe pozycje w wynikach Google, co prowadzi do większej ilości ruchu organicznego (Google PageSpeed Insights)"
        src={seo}
    />
    <CardsElement
        title="Wyższa retencja klientów"
        paragraph="79% klientów, którzy doświadczyli problemów z wydajnością strony, nie wraca do tego sklepu"
        src={retention}
    />
    <CardsElement
        title="Niższy współczynnik odrzuceń"
        paragraph="Strony ładujące się 1-3s mają 32% większe ryzyko odrzucenia, a te ładujące się 1-5s aż o 90% większe!."
        src={bounce}
    />
    <CardsElement
        title="Większa aktywność na stronie"
        paragraph="Szybsze strony poprawiają wskaźniki aktywności użytkowników, takie jak dłuższy czas na stronie i więcej odwiedzanych podstron"
        src={activity}
    />
    <CardsElement
        title="Skrócony czas decyzji"
        paragraph="Szybko ładujące się strony pozwalają użytkownikom szybciej podejmować decyzje o zakupie, zwiększając sprzedaż (Forbes)"
        src={time}
    />
    <CardsElement
        title="Skuteczniejsze reklamy"
        paragraph="Szybsze strony prowadzą do niższych kosztów za kliknięcie (CPC) i wyższych współczynników konwersji w kampaniach reklamowych (WordStream)"
        src={adds}
    />
</div>
