---
import { Img } from "astro-imagetools/components";

interface Props {
    src: string;
    caption: string;
    height: number;
    width: number;
    stretched: boolean;
}

const { src, caption, height, width, stretched } = Astro.props;
---

<div class="items-center gap-2 py-3 text-center">
    <div class="w-full mb-2 overflow-hidden rounded-lg shadow-2xl shadow-black">
        {
            () => {
                if (stretched) {
                    return (
                        <Img
                            src={src}
                            width={800}
                            objectFit="cover"
                            alt="descriptive text"
                        />
                    );
                } else {
                    return (
                        <Img
                            src={src}
                            height={height}
                            width={width}
                            objectFit="cover"
                            alt="descriptive text"
                        />
                    );
                }
            }
        }
    </div>
    <p class="font-light text-gray-400">{caption}</p>
</div>
